.person-post{
  border: 1px solid pink;
}
.post-container{
  display: flex;
  flex-direction: column;
  width: 75vw;
  border: 1px solid black;
  height: 80vh;
  overflow-x: scroll;
}
.post-date{
  text-align: right;
  margin-right: 10px;
}
.post-name{
  font-weight: bold;
  margin-left: 25px;
}

.post-words{
margin-left: 15px;
}

