.user-feed-holder{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items:flex-start;
  /* margin-left: 8rem; */
  /* border: 1px solid seagreen; */

}

.user-feed-main-cont{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80%;
  overflow: scroll;
}

.user-feed-container{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 90%;
  height: 80vh;
  /* border: 1px solid blueviolet; */
  padding-bottom: 20px;
}

.user-feed{
  border: 1px solid #e55381;
  margin-left: 2rem;
  padding: 1rem;
  width: 70%;
  margin-top: 1rem;
  border-radius: .5rem;
  transition: box-shadow .2s;
}
.user-feed:hover{
  box-shadow: 0 0 7px #E28CA8;
  cursor: pointer;
}