.post-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  /* border: 1px solid green; */
}

.thoughts-container{
 display: flex;
 flex-direction: column;
 /* border: 1px solid #e55381; */
 width: 40vw;
}

.share-txt{
  height: 10vh;
  resize: none;
}

.share-btn{

}