.post-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
  width: 75vw;
}

.thoughts-container{
 display: flex;
 flex-direction: column;
 width: 70vw;
}

.share-txt{
  height: 10vh;
  resize: none;
}

.share-btn{
  width: 10vw;
  margin-left: 60vw;
  margin-top: 10px;
}